<section class="container">
    <article class="d-flex justify-content-around container__article ">
        <figcaption>
            <img class="image" [src]="sanitizerImg()" alt=" {{product?.title}} ">
        </figcaption>
        <div class="col__center text-center">
            <div class="col__title">
                <h2> {{product?.title}} </h2>
            </div>
            <div class="col__center__rating border-bottom my-2 ">

                <p> {{product?.rating}}</p>
                <fa-icon *ngFor="let star of arr;"
                    [icon]="star === 'full' ? faStar : ((star === 'half') ? faStarHalfAlt : faStarEmpty)">
                </fa-icon>
                <a class="mx-2 " [routerLink]="['/review',product?.id]"
                    routerLinkActive="router-link-active">{{product?.reviews.length}} Valoraciones</a>
            </div>
            <div class="col__center__price">
                <p><span class="fs-3 text-danger">{{product?.discountPercentage | porcentaje}}</span> <span
                        class="fs-3 fw-bold mx-2">{{getPriceDescount()|
                        number:'1.0-2'}}€</span>
                </p>
                <small>Precio recomendado :<span class="price__line-through">{{product?.price}}€</span> </small>
            </div>
            <div class="col__center__return-Policy border-bottom">
                <p class="price_warranty" (click)="getStateWarranty()">Devolución</p>
                <div *ngIf="state" class="card shadow p-2 position-fixed mx-4">
                    <span class="warranty__close"> <fa-icon class="warranty__icon" [icon]="faTimes"
                            (click)="getStateWarranty()"></fa-icon></span>
                    <p> Puedes devolver este producto de forma gratuita dentro de los {{getReturnPolicy()}} días
                        siguientes
                        a la fecha de
                        recepción: no se
                        aplicarán gastos de envío. El producto debe ser devuelto nuevo y sin usar.</p>

                </div>
                <p class="text-start">Los precios en MyEcommerce incluyen el IVA.
                    En función de su dirección este podrá variar al completar su compra.
                </p>
            </div>
            <div class="col__center__characteristics my-2">
                <h3>Detalles del prducto</h3>
                <div class="characteristics__description">
                    <p class="fw-bold">Descripción</p>
                    <p> {{product?.description}} </p>
                </div>
                <div class="characteristics__dimensions">
                    <p class="fw-bold">Dimensiones</p>
                    <p>Ancho: {{product?.dimensions
                        .width}} cm </p>
                    <p>Alto: {{product?.dimensions
                        .height}} cm </p>
                </div>

            </div>

        </div>
        <section class="col_rigth">
            <app-car-view-product></app-car-view-product>
        </section>
    </article>


</section>